@charset "UTF-08";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html , body {
    height: 100vh;
}

body {
    background-color: #1E1E1E;
}

div#app {
    background:  url('../imagens-paises/fundoblue.svg') no-repeat top center fixed;
    background-size: auto;
    width: 45vw;

}
