@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

:root {
    --fundo-card: url(../imagens-paises/fundoblue.svg);
    --fundo-padraocard: #202024;
    --borda-sombra-padrao: #338AF3;
}

html , body {
    height: 99vh;
}

body.green {
    --fundo-card: url(../imagens-paises/fundogreen.svg);
    --fundo-padraocard: #1A1F1B;
    --borda-sombra-padrao:  #047C3F;
}

body.yellow {
    --fundo-card: url(../imagens-paises/fundoyellow.svg);
    --fundo-padraocard: #1D1C19;
    --borda-sombra-padrao: #F7DD43;
}

body {
 background: black var(--fundo-card) no-repeat center center  fixed;
 background-size: cover;
}

div#app { 
    margin: 52px auto;
    width: fit-content;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 25px;
}

#app header {
    margin-bottom: 60px;
}

#card {
    text-align: center;
    background-color: var(--fundo-padraocard);
    padding: 0.1px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 0px var(--borda-sombra-padrao);
}

#card h2 {
    display: flex;
    color: yellow;
    font-size: 24px;
    border: 1px solid var(--borda-sombra-padrao);
    padding: 7px;
    width: 156px;
    border-radius: 6px;
    margin: 32px 69.5px 53px 69.5px;
    align-items: center;
}

#card span {
    margin-left: 10px;
    color: white;
    font-size: 17px;
}

#card ul {
    list-style-type: none;
}

#card li {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    
    border-bottom: 1px solid #3232386b;
    justify-content: space-between;

}

#card li > strong {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 27.5px;
}

#card h2:hover,
#card img:hover ,
#card strong:hover {
    transform: scale(1.1);
}

#card h2,
#card img,
#card strong {
    transition: transform .5s;
}

#card {
    animation: effect 3s;
}

@keyframes effect {
    0% {
        transform: translatey(-50%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media  (min-width: 400px) {

    #card {
        
    }
}